
/*-------------------------Variable ----------------------------*/
$colorText: black;
$colorPrimary: blue;
$colorLine: #1dcbc6;
$colorFon: #DCDCDC;
$colorFont: #484545;
@mixin textSide {
  font-size: 30px;
  color: #909292;
  font-style: oblique;
}
/*---------------------------------------------------------------*/
/*-------------------------APP ----------------------------------*/
.App {
  text-align: center;
  position: relative;
}
.a {
  color: $colorLine;
}
/*--------------------------------------------------------------*/
main {
  top:60px;
}
footer {
  height: 400px;
}




