@import 'App';

.headContainer {
    @media screen and (max-width: 600px ){
        flex-direction: column;
        align-items: center;
        .headContact{
            border-top: $colorLine 2px solid;
        }
        .headAva {
            display: none;
        }
    };
    margin-top: 56px;
    height: 250px;
    width: 100%;
    display: flex;
    border-bottom: $colorLine 6px solid;
    align-items: center;
    justify-content: space-around;
}
.headAva {
    width: 200px;
}
.headName{
    width: 350px;
}
.headContact{
    width: 300px;
    text-align: start;
}