@import "App";

.mainContainer {
  position: relative;
  display: flex;
  justify-content: stretch;
  border-bottom: black 1px solid;
  color: $colorFont;
}


div :target {
  margin-top: -60px;
  padding-top: 60px;
  /*span ::before {
    content: ">>";
    color: blue;
  }
  span ::after {
    content: "<<";
    color: blue;
  }*/
  /*span {
    color: black;
  }*/
}
.target2 {
  span {
    color: black;
  }
}


